* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  font-size: 14px;
}
body {
  background-color: #fafafa;
  color: #262626;
}

.c-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-main {
  width: 90vw;
  height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 449px) {
  .l-main {
    display: block;
  }
}
@media (max-width: 874px) {
  .l-main .l-main__img {
    display: none;
  }
}
.l-user {
  display: flex;
  flex-direction: column;
}
.group {
  background: #fff;
  border: 1px solid lightgrey;
}
@media (max-width: 449px) {
  .group {
    background: inherit;
    border: none;
  }
}
.c-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 40px 0;
}
.c-panel .c-panel__img {
  height: 51px;
  width: 175px;
  margin-bottom: 30px;
}
.c-panel .c-panel__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 250px;
}
.c-panel .c-panel__form .c-btn {
  margin-top: 14px;
}
.c-panel .c-panel__form .c-panel__input {
  color: #262626;
  background: #fafafa;
  border: 1px solid lightgray;
  padding: 9px 0 7px 8px;
  border-radius: 4px;
  outline: none;
}
.c-panel .c-panel__form .c-panel__input:nth-child(1) {
  margin-bottom: 6px;
}
.c-panel .c-panel__form .c-panel__span {
  font-size: 13px;
  font-weight: 600;
  color: #8e8e8e;
  margin: 16px 0 30px 0;
  position: relative;
}
.c-panel .c-panel__form .c-panel__span::after {
  content: "";
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  background: lightgray;
  width: 40%;
  height: 1.5px;
  top: 8px;
  right: 0;
}
.c-panel .c-panel__form .c-panel__span::before {
  content: "";
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  background: lightgray;
  width: 40%;
  height: 1.5px;
  top: 8px;
  left: 0px;
}
.c-panel .c-panel__facebook {
  color: #385185;
  display: flex;
  font-weight: 600;
}
.c-panel .c-panel__facebook::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/facebook.svg);
  margin-right: 8px;
}
.c-panel .c-panel__forgot {
  margin: 20px 0 20px;
  font-size: 12px;
  color: #385185;
}
.c-btn {
  color: #fff;
  font-weight: 500;
  background: rgb(84, 187, 255);
  border-radius: 7px;
  font-size: 14px;
  line-height: 18px;
  padding: 7px 0;
}
.c-app p {
  text-align: center;
  margin: 20px 0;
}
.c-app .c-app__download {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.c-app .c-app__download img {
  max-width: 140px;
  max-height: 40px;
}
.c-app .c-app__download img:nth-child(2) {
  margin-left: 8px;
}
.c-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
}
.c-signup span {
  color: #0095f6;
  cursor: pointer;
  font-weight: 600;
}

.c-footer {
    color: #8E8E8E;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.c-bottext {
    display: flex;
    justify-content: center;
}

.c-switchd-language {
    cursor: pointer;
    color: #8E8E8E;
    background-color: #fafafa;
    border: none;
}

.c-copyright {
    margin-left: 1%;
    font-size: 12px;
    color: #8E8E8E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}